<!--todo component view-->


<div class="container">

  <h2>Todos list</h2>

  <hr>

  <div>

    <div>
        <label for="input-description">Description</label>
        <input [(ngModel)]="description" (keyup.enter)="addTodo(description)" type="text" class="form-control" id="input-description"
        placeholder="Description">
        <button mat-button type="button" (click)="addTodo(description)">Add todo</button>
    </div>
    
  </div>

  <hr>
  <div>

      <div>

          <table class="table">
              <thead>
                  <tr>
                      <td>Id</td>
                      <td>Description</td>
                      <td></td>
                      <td></td>
                  </tr>
              </thead>
              <tbody>
                  <!--the async pipe subscribes to an observable and returns the latest value it has emitted-->
                  <tr *ngFor="let todo of todos | async">
                      <td>{{ todo.todoId }}</td>
                      <td *ngIf="editMode != todo.todoId">
                          {{ todo.description }}
                      </td>

                      <td *ngIf="editMode != todo.todoId">
                          <button mat-icon-button (click)="deleteTodo(todo)">
                              <mat-icon aria-label="delete">delete</mat-icon>
                          </button>
                      </td>
                      <td *ngIf="editMode != todo.todoId">
                          <button mat-icon-button (click)="editMode = todo.todoId">
                              <mat-icon aria-label="edit">edit</mat-icon>
                          </button>
                      </td>
                      <td *ngIf="editMode == todo.todoId">
                          <input [(ngModel)]="todo.description" type="text" class="form-control" id="edit-description">
                      </td>
                      <td *ngIf="editMode == todo.todoId">
                          <button mat-icon-button (click)="editTodo(todo); editMode = null">
                              <mat-icon aria-label="save">save</mat-icon>
                          </button>
                      </td>
                      <td *ngIf="editMode == todo.todoId">
                          <button mat-icon-button (click)="editMode = null">
                              <mat-icon aria-label="cancel">cancel</mat-icon>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>

          <div class="text-right">
              <button mat-raised-button color="primary" (click)="clearTodos()">Clear todos</button>
              <button mat-raised-button color="primary" (click)="sortTodos()">Sort by description</button>
              
          </div>

          <hr />

      </div>
  </div>
</div>