<mat-card >
    <mat-card-header>
      <mat-card-title>Steven Rockarts</mat-card-title>
      <mat-card-subtitle>Software Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/EPCOR_Logo.svg/1200px-EPCOR_Logo.svg.png" 
    alt="Epcor Logo">
    <mat-card-content>
      <p>
          This app was created for a job interview with Epcor. 
          It demonstrates the use of HTML, Responsive CSS, Javascript, Angular and Progressive Web 
          Technologies including service workers and client databases (IndexedDB).            
      </p>
      <p>This app will 
          continue to work without an internet connection by storing todos in IndexedDB and making
          use of Angular's service worker to cache pages offline.</p>

    </mat-card-content>
  </mat-card>
